@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #2e583c;
    --second-bg-color: #5d9262;
    --text-color: #fff;
    --main-color: rgb(23, 51, 95);
    --color: #5586a2;
    --style: #fffb00;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--second-bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 4.5rem;
    color: var(--text-color);
    font-weight: 1000;
    cursor: default;
}

b {
    color: var(--main-color);
    font-family: cursive;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 32vw;
    height: 40vw;
    float: right;
    padding: 70px;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
    font-family: cursive;
    font-size: 53.5px;
}

.profile-image {
    width: 50px;
    height: 600px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}

.home-content p {
    font-size: 2.5rem;
    size: 100px;
    text-align: justify;
}

.home-content a {
    color: #fff;
}

.bt {
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    font-size: 1.8rem;
}

.bt:hover {
    background-color: #2c3e50;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    color: #fff;
}

.about-content h3 {
    font-size: 2.6rem;
    color: #fff;
}

.about-content p {
    font-size: 2.5rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}

.skills h2 {
    margin-bottom: 2rem;
    color: #fff;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box {
    width: 1300px;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
}

.skills-box a {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
}

.skills-container .skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-box h3 {
    font-size: 2.6rem;
    color: #fff;
}

.skills-box p {
    font-size: 2.6rem;
    margin: 1rem 0 3rem;
}

.project {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}

.project h2 {
    margin-bottom: 4rem;
    color: #fff;
}

.project-box p {
    background: linear-gradient(rgba(0, 0, 0, .7), var(--main-color));
    border-radius: 8px;
    text-align: center;
    height: 100%;
    font-size: 20px;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 16px;
}

.project-box {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    width: 600px;
}

.project-box img {
    border-radius: 18px;
}

.project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .7), var(--style));
    padding: 20px;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact h2 {
    text-align: center;
    font-size: 4.5rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    color: #fff;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-box {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    background: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transition: transform 0.3s ease;
    width: 1300px;
    border-radius: 2rem;
    border: .2rem solid var(--bg-color);
}

.contact-box:hover {
    transform: translateY(-5px);
}

.contact-box i {
    font-size: 4rem;
    color: var(--main-color);
}

.contact-box h3 {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

.contact-box p {
    font-size: 2rem;
    color: #fff;
    margin: 1rem 0;
}

.contact-box a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-box a:hover {
    color: var(--main-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #fff;
    border-radius: .8rem;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
